// MainContainer

@import "~styles/vars";

.MainContainer
    display block
    h5
        position absolute

.project__image
    position: absolute
    top: 50%
    left 50%
    width: 600px
    height: 600px
    transform: translate(-50%, -50%)
    background-size: cover
    background-repeat: no-repeat
    background-position: center

.button__next,
.button__previous
    position: absolute
    top: 50%
    width: 50px
    height 50px
    background: none
    border: 1px solid
    border-radius: 50%
    transform: translateY(-50%)
    &:before,
    &:after
        content: ''
        display: block
        position: absolute
        top: 50%
        left 50%
        width: 8px
        height: 1px
    &:before
        transform: translate(-50%, -50%) rotate(-45deg)
    &:after
        transform: translate(-50%, -50%) rotate(45deg)

.button__previous
    left: 30px
    border-color: #fff
    &:before,
    &:after
        background: #fff
        transform-origin: center left


.button__next
    right 30px
    border-color: #000
    &:before,
    &:after
        background: #000
        transform-origin: center right

.button__previous--disabled,
.button__next--disabled
    opacity: 0.5
    pointer-events: none

