// ProjectComponent

@import "~styles/vars";


.ProjectComponent
    display block
    position: relative
    z-index: 997
    p, h1, h2, h3, h4
        color: #000
    button
        box-sizing: border-box
        text-align: center
        border: none
        border-radius: 50%
        letter-spacing: 2px
    svg
        position: absolute
        z-index: 100
        width: 35%
        min-height: 100vh;
        rect
            transition: width .3s ease-out
            +below(800px)
                position: relative;
                width: 100%;
                height: 20%;

.ProjectComponent.project-details--opened
    svg
        rect
            width: 60%;
    .project__description
        left: 25%;
        width: 75%;

.main-container
    position: absolute
    top: 0
    left: 0
    display: flex
    width: 100%
    height: 100vh
    overflow: hidden
    +below(800px)
        top: unset;
        left: unset;
        flex-wrap: wrap;
        overflow: unset;

.project__wave
    position absolute
    top: 0
    right: 0
    width: 65%
    height: 100vh
    transform: scaleY(0)
    background: #1c1f24
    z-index 999

.project__background
    position relative
    width: 40%
    height 100%
    background-size: cover
    background-repeat: no-repeat
    background-position: top center
    transform-origin: top
    span
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        opacity: 0.9
    +below(800px)
        position: relative;
        width: 100%;
        height: 20%;

.project__description
    position absolute
    display: inline-flex
    flex-direction: column
    justify-content: flex-start
    align-content: space-between
    left: 40%
    width: 60%
    height: 100%
    transform-origin: bottom
    z-index 3
    transition: width .3s ease-out, left .3s ease-out
    &:before
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
    +below(800px)
        position: relative;
        top: unset;
        left: unset;
        width: 100%;
        height unset;
        padding: 160px 32px 100px 32px;

.project__description-container
    position absolute
    top: 45%
    left: 50%
    transform: translate(-50%, -50%)
    h2
        letter-spacing: 5px
        opacity: 0.3
        font-weight: 500
    +below(800px)
        position: relative;
        top: unset;
        left: unset;
        transform: none;
    +above(800px)
        max-width: 400px;
        min-width: 400px;
    +above(1200px)
        min-width: 500px;
        max-width: 500px;
    +above(1500px)
        min-width: 600px;
        max-width: 600px;

.project__description-title
    font-size: 5rem
    font-weight: 800
    margin: 1.5rem 0;

.project__background-number
    position absolute
    top: 20%
    left: 40%
    transform: translate(-50%, -30%)
    font-size: 28rem
    font-weight: 500
    opacity: 0.2
    +below(800px)
        font-size: 13rem

.project__show-more--button
    position: absolute;
    display: block;
    bottom: 32px;
    right: 32px;
    width: 60px;
    height: 60px;
    background: #1c1f24;
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease
    cursor: pointer
    z-index: 999;
    &:before, &:after
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15px;
        height: 2px;
        background: #fff;
        transition transform 0.3s ease
    &:before
        transform: translate(-50%, -50%)
    &:after
        transform: translate(-50%, -50%) rotate(90deg);
    &:hover
        transform: scale(1.1);
    &.button-actived
        &:after
            transform: translate(-50%, -50%) rotate(0);
    +below(800px)
        position: fixed;
        top: 85vh;
        bottom: unset;

.fade-enter-active {
    transition: opacity .4s;
}
.fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
