// ProjectContentComponent

@import "~styles/vars";

.ProjectContentComponent
    position: absolute;
    display block;
    width: 100%;
    height: 100%
    top: 0;
    z-index: 998;
    pointer-events: none;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: montserrat;
    color: #323232;
    font-size: 72px;
    font-weight: bold;
}
p{
    font-family: pt sans;
    color: #323232;
    font-size: 16px;
    font-weight: normal;
}
.project-content__body-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.project-content__image{
    width: 35%;
    height: 100%;
}
.project-content__background{
    width: 70%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.project-content__main-render{
    display: block;
    width: 450px;
    height: 450px;
    position: absolute;
    transform: translateY(-50%);
    top:50%;
    left:30px;
    background-size: contain;
    background-position: center;
}
.project-content__info{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    padding: 25px;
}
.project-content__close{
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    
}
.project-content__title{
    width: 80%;
    justify-content: flex-start;
}
.project-content__title h1{
    text-align: left;
    }
.project-content__text{
    margin-bottom: 50px;
}
.project-content__details{
    display: inline-flex;
    width: 100%;
    height: 150px;
    justify-content: space-between;
    margin-bottom: 30px;
}
.project-content__detail{
    width: 25%;
    height: 0;
    padding-top: 24%;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.one,
.two,
.three{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid;
}
