/* ==========================================================================
   Typography
   ========================================================================== */

/* Base
   ========================================================================== */

$base-line-height: 1.2;
$base-font-size: 16px;
$base-font-family: sans-serif;
$base-color: #000;
$base-margin: 1rem 0;

$link-color: #000;
$link_hover-color: #000;


/* Lists
   ========================================================================== */

$list-margin: $base-margin;
$list-padding: 0 1.5rem;
$list-list-margin: .25rem 0;
$list-item-top-margin: rem(4);

/* Headings
   ========================================================================== */


/* ==========================================================================
   Layout
   ========================================================================== */

/* Outer-pad
   ========================================================================== */

/* Section
   ========================================================================== */