<ul class="tag-list">
  <li class="tag-list__item tag-list__heading">
    <strong>Tags:</strong>
  </li>
  <li class="tag-list__item">
    <a href="#" class="tag-list__button button">Item One</a>
  </li>
  <li class="tag-list__item">
    <a href="#" class="tag-list__button button">Item Two</a>
  </li>
  <li class="tag-list__item">
    <a href="#" class="tag-list__button button">Item Three</a>
  </li>
  <li class="tag-list__item">
    <a href="#" class="tag-list__button button">Item Four</a>
  </li>
</ul>