<div class="silc-hero">
  <div class="silc-hero__media"></div>
  <div class="silc-hero__content-wrapper">
    <div class="silc-hero__content silc-align--center">
      <h1>Lorem Ipsum</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, amet, numquam quaerat atque autem totam veritatis
        perspiciatis inventore nihil quo debitis, quos praesentium. Culpa, nobis a harum recusandae ducimus dolorum!</p>
    </div>
  </div>
</div>
