<div class="silc-hero silc-hero--full-screen silc-hero--overlay">
  <div class="silc-hero__media">
    <iframe role="presentation" aria-hidden="true" src="https://player.vimeo.com/video/297716519?background=1" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
  </div>
  <div class="silc-hero__content-wrapper">
    <div class="silc-hero__content">
      <h1>Lorem Ipsum</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, amet, numquam quaerat atque autem totam veritatis perspiciatis
      inventore nihil quo debitis, quos praesentium. Culpa, nobis a harum recusandae ducimus dolorum!</p>
    </div>
  </div>
</div>
