@import 'vars.styl'

webfont($text-font, 'Monaco')
* {
    font-family: 'Montserrat', sans-serif !important;
}

p
    letter-spacing: 2px
    line-height: 1.4
h1
    line-height: 0.9
    margin-bottom: 1.5rem !important
    text-transform: lowercase
