@import 'vars.styl'

webfont($text-font, 'Monaco')
* {
    font-family: 'Montserrat', sans-serif !important;
}

p
    letter-spacing: 1.4px
    line-height: 1.4
    color: #808080 !important
    font-size: 1rem !important;
    font-weight: 100;
h1
    line-height: 0.9
    margin-bottom: 1.5rem !important
    text-transform: lowercase
    font-size: 4rem !important;
h1, h2, h3
    color: #303030 !important

h2
    font-size: 1.5rem !important;

p, h1, h2, h3, h4
    text-align: left !important;
