@import 'vars.styl'

webfont($text-font, 'Monaco')
* {
    font-family: 'Montserrat', sans-serif !important;
}

p
    letter-spacing: 1.4px
    line-height: 1.4
    color: #808080 !important
h1
    line-height: 0.9
    margin-bottom: 1.5rem !important
    text-transform: lowercase
h1, h2, h3
    color: #303030 !important
