<nav class="silc-breadcrumb" aria-label="Breadcrumb">
  <ol class="silc-breadcrumb__list">
    <li>
      <a href="http://idfive.com/">Home</a>
    </li>
    <li>
      <a href="http://idfive.com">About</a>
    </li>
    <li>
      <a href="http://idfive.com" aria-current="page">Team</a>
    </li>
  </ol>
</nav>