<div class="card card--hz">
  <a href="#" class="card__cta">
    <div class="card__media" style="background-image:url(http://via.placeholder.com/300x200/ddd/ddd)"></div>
    <div class="card__content">
      <h2>Card Title</h2>
      <p>Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p>
    </div>
  </a>
</div>