$blockquote-margin: 0 auto !default;
$blockquote-padding: 0 !default;
$blockquote-max-width: none !default;

$blockquote_before-font-size: 4rem !default;
$blockquote_before-font-weight: 700 !default;
$blockquote_before-content: "“" !default;
$blockquote_before-height: 2rem !default;
$blockquote_before-line-height: 1 !default;