<div class="callout silc-align--center silc-p--4">
  <div class="callout__compartment compartment">
    <h2>Lorem Ipsum</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consectetur ducimus illo, excepturi dolore nemo
      veritatis quisquam nulla libero obcaecati autem, architecto officiis? Eaque similique atque praesentium facere id fugiat.</p>
  </div>
</div>